<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="ALFRESCO_BASE_URL" value="https://api-explorer.alfresco.com"/>
        <env name="ALFRESCO_USERNAME" value="admin"/>
        <env name="ALFRESCO_PASSWORD" value="admin"/>
        <env name="ACTIVITI_BASE_URL" value="localhost:8080"/>
        <env name="OAUTH2_BASEURL" value="localhost:8080"/>
    </php>
</phpunit>